SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=*

POSTGRES_DB=mediamtx_manager
POSTGRES_USER=mediamtx
POSTGRES_PASSWORD=Ch4ngeM3!
POSTGRES_HOST=postgres

REDIS_URL=redis://redis:6379/0

DJANGO_SETTINGS_MODULE=config.settings

MEDIAMTX_API_KEY=mediamtx_secret_key_123
